
<h2>Courses</h2>
{{title}}
<br>New course: <input #newcourse type="text" appAutoGrow/>
<button (click)="addCourse(newcourse.value)">Add Course!</button>
<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>
